*.csv
__pycache__/
trees/*.pdf
.DS_Store
.vscode/
output.txt

stgp_csvs/improvements/*
!stgp_csvs/improvements/.gitkeep

stgp_csvs/gen_records/*
!stgp_csvs/gen_records/.gitkeep

stgp_csvs/hall_of_fame/*
!stgp_csvs/hall_of_fame/.gitkeep

stgp_csvs/generational_best/*
!stgp_csvs/generational_best/.gitkeep

networth_plots/*
!networth_plots/.gitkeep

offspring_records/*
!offspring_records/.gitkeep

trees/*
!trees/.gitkeep

second_run/*
initial_zic_run/*
zic_vs_zic50/*
zic_vs_zic10/*

stats_plots/avg/*
stats_plots/std/*
stats_plots/max/*
stats_plots/min/*
!stats_plots/*/.gitkeep

test.py
slurm*
stgp_diss.out
